Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Remove trailing slashes, also to remove duplicate content
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]

  # Remove multiple slashes in between, just to remove the possibility of fabricating crazy links.
  RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
  RewriteRule . %1/%2 [R=301,L]
  # Redirect default controller to "/".
  # This is to prevent duplicated content. (/home/index => /)
  RewriteRule ^(welcome(/index)?)/$ / [R=301,L]
  # Remove /index/ segment on the URL, again to prevent duplicate content.
  RewriteRule ^(.*)/index/ $1 [R=301,L]

  RewriteCond %{HTTP:Authorization} ^(.+)$
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# protect the htaccess file
<files .htaccess>
  order allow,deny
  deny from all
</files>

# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE font/otf font/ttf font/woff font/woff2 text/html text/css text/plain text/xml text/javascript application/x-javascript application/javascript application/x-shockwave-flash application/x-font-woff application/x-font-woff2 application/x-font-ttf application/x-font-otf application/vnd.ms-fontobject image/svg+xml image/webp

# BEGIN Expire headers
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 7 days"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  AddType image/x-icon .ico
  ExpiresByType image/ico "access plus 1 year"
  ExpiresByType image/icon "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType text/html "access plus 7200 seconds"
  ExpiresByType application/xhtml+xml "access plus 7200 seconds"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
  ExpiresByType application/pdf "access plus 1 year"
  ExpiresDefault "access plus 1 year"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
  <FilesMatch "\\.(ico|jpe?g|png|gif|webp|gz|ttf|woff?2)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  <FilesMatch "\\.(svg)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
  <FilesMatch "\\.(css)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  <FilesMatch "\\.(js)$">
    Header set Cache-Control "max-age=2592000, private"
  </FilesMatch>
  <filesMatch "\\.(html|htm)$">
    Header set Cache-Control "max-age=7200, public"
  </filesMatch>
  # Disable caching for scripts and other dynamic files
  <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
    Header unset Cache-Control
  </FilesMatch>
  <FilesMatch "\\.(jpe?g|png|gif|pdf)$">
    Header set X-Content-Type-Options nosniff
  </FilesMatch>
</IfModule>
# END Cache-Control Headers
